:root{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0a0b0b;
    font-family: "DM Sans"
}
section{
    max-width: 32rem;
    margin: 0 auto;
    color: #E2E2E2;
}
section h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #E2E2E2;
    margin-bottom: 1rem;
    letter-spacing: 0.04rem;
}
section hr{
    margin: 2rem 0;
    opacity: 0.3;
}

.intro{
    margin-top: 10rem;
}
.intro h1{
    font-size: 3rem;
    color: #E2E2E2;
    font-weight: 800;
}
/* .intro h1>.jeeten{
    background-color: #6200EF;
    padding: 0.25rem;
} */
.intro h1>.fullstack{
    background: -webkit-linear-gradient(0deg, #c084fc , #db2777 );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.intro .buttonBox{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
.intro .buttonBox a{
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    background: rgba(255, 255, 255, 0.345);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 50px;
}
.intro p{
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.025rem;
    color: #9ca3af;
}

.tech .techBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
}
.techBox>div{
    background: #282928;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    border-radius: 8px;
    gap: 12px;
}
.techBox>div svg{
    width: 2.25rem;
    fill: white;
}
.techBox>div span{
    font-size: 0.75rem;
    letter-spacing: 0.04rem;
    margin-top: 0.25rem;
}
.techBox>div:hover{
    background-color: #171717;
    transition-duration: 200ms ease-in;
}

.projects>.projectBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}
.projectBox>a{
    padding: 1.5rem;
    background: #282928;
    border-radius: 8px;
    text-decoration: none;
}

.projectBox>a h3{
    font-size: 1rem;
    color: #E2E2E2;
    letter-spacing: 0.04rem;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
}

.projectBox>a p{
    font-size: 0.825rem;
    color: #9ca3af;
    line-height: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.projectBox .iconsList{
    display: flex;
    gap: 0.5rem;
}
.projectBox .iconsList svg{
    fill: white;
    width: 20px;
}