:root{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0a0b0b;
    font-family: "DM Sans"
}
section{
    max-width: 32rem;
    margin: 0 auto;
    color: #E2E2E2;
}

.intro{
    margin-top: 10rem;
}
.intro h1{
    font-size: 3rem;
    color: #E2E2E2;
    font-weight: 800;
}
/* .intro h1>.jeeten{
    background-color: #6200EF;
    padding: 0.25rem;
} */
.intro h1>.fullstack{
    background: -webkit-linear-gradient(0deg, #c084fc , #db2777 );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.intro .buttonBox{
    margin-top: 2.25rem;
    display: flex;
    gap: 1rem;
}
.intro .buttonBox a{
    background-color: #282928;
    padding: 0.5rem 1rem;
}