:root{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0a0b0b;
    font-family: "DM Sans"
}
section{
    max-width: 32rem;
    margin: 0 auto;
    color: #E2E2E2;
}
section h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #E2E2E2;
    margin-bottom: 1rem;
    letter-spacing: 0.04rem;
}
section hr{
    margin: 2rem 0;
    opacity: 0.3;
}

.intro{
    margin-top: 10rem;
}
.intro h1{
    font-size: 3rem;
    color: #E2E2E2;
    font-weight: 800;
}
/* .intro h1>.jeeten{
    background-color: #6200EF;
    padding: 0.25rem;
} */
.intro h1>.fullstack{
    background: -webkit-linear-gradient(0deg, #c084fc , #db2777 );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.intro .buttonBox{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
.intro .buttonBox a{
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
    background: rgb(246 246 246 / 25%);
    /* backdrop-filter: blur( 4px ); */
    /* -webkit-backdrop-filter: blur( 4px ); */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.intro .buttonBox a:hover{
    background-color: white;
    color: black;
    font-weight: 800;
    transition: 100ms ease-in-out;
}
.intro .buttonBox a:hover .buttonBox a svg{
    fill: black;
}
.intro .buttonBox a svg{
    width: 0.75rem;
}
.intro p{
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.025rem;
    color: #c2c4c9;
    font-family: "Playfair Display";
    font-style: italic;
}

.timeline{
    overflow: hidden;
}

.timelineBox{
    display: flex;
    /* transform:translateX(100%); */
    animation: cssmarquee 30s linear infinite;
    animation-delay: 3s;
}
@keyframes cssmarquee {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-470%);
    }
 }
.timelineBox .top, .timelineBox .bottom{
    height: 7.5rem;
    padding-right: 0.25rem;
    display: flex;
    position: relative;
    overflow: hidden;
    /* border: 1px solid white; */
    /* border-bottom: 3px solid rgb(255, 0, 0); */
    /* transform: rotate(-45deg); */
    /* transform-origin: left; */
}
.timelineBox .connector{
    height: 100%;
    margin-left: 1.25rem;
    width: 60px;
}
.timelineBox .top .connector{ 
    border-bottom: 0.1px solid white;
    transform: rotate(-60deg);   
}
.timelineBox .card{
    height: 4rem;
    width: 20rem;
    background-color: #282928;
    margin-left: 2rem;
    border-radius: 8px;
}
.timelineBox .top .card{
    transform: translateY(5px);
}
.timelineBox .bottom{
    align-items: flex-end;
}
.timelineBox .bottom .connector{
    border-top: 0.1px solid white;
    transform: rotate(60deg);   
}
.timelineBox .bottom .card{
    transform: translateY(-5px);
}
.timelineBox .line{
    background-color: white;
    height: 1.5px;
    position: relative;
}
.timelineBox .line .dot{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -4.25px;
    left: 5rem;
    background-color: white;
}
.timelineBox .card{
    padding: 0.55rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.timelineBox .card span{
    font-size: 0.825rem;
    color: #9ca3af;
    line-height: 1rem;
    font-weight: 500;
}
.card sup{
    font-size: 0.75rem;
}
.timelineBox .card .date{
    font-size: 0.70rem;
    line-height: 0.75rem;
}
.timelineBox .card p{
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.timeline .slider{
    display: flex;
    display: none;

    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    transform: translateY(1.5rem);
}
.timeline .slider > div{
    background-color: #282928;
    display: grid;
    place-items: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.timeline .slider #leftSlider svg{
    transform: translateX(-0.5px);
}
.timeline .slider #rightSlider svg{
    transform: translateX(0.5px);
}



.tech .techBox, .tools .toolsBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
}
.techBox>div, .toolsBox>div{
    background: #282928;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    border-radius: 8px;
    gap: 12px;
}
.techBox>div svg, .toolsBox>div svg{
    width: 2.25rem;
    fill: white;
}
.techBox>div span, .toolsBox>div span{
    font-size: 0.75rem;
    letter-spacing: 0.04rem;
    margin-top: 0.25rem;
}
.techBox>div:hover, .toolsBox>div:hover{
    background-color: #171717;
    transition-duration: 200ms ease-in;
}

.projects>.projectBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}
.projectBox>a{
    padding: 1.5rem;
    background: #282928;
    border-radius: 8px;
    text-decoration: none;
}
.projectBox>a:hover{
    background-color: #171717;
}
.projectBox>a h3{
    font-size: 1rem;
    color: #E2E2E2;
    letter-spacing: 0.04rem;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
}

.projectBox>a p{
    font-size: 0.825rem;
    color: #9ca3af;
    line-height: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.projectBox .iconsList{
    display: flex;
    gap: 0.5rem;
}
.projectBox .iconsList svg{
    fill: white;
    width: 20px;
}


.rolesBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rolesBox div{
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1.5rem;
    align-items: center;
}
.rolesBox div h3{
    font-size: 2rem;
    font-weight: 1000;
    letter-spacing: 0.1rem;
    background-color: #282928;
    padding: 0.25rem 1rem;
    border-radius: 8px;
}
.rolesBox div h3:hover {
    background-color: #171717;
}
.rolesBox div span{
    background-color: #282928;
    padding: 0.25rem 0.75rem;
    height: calc( 100% - 0.5rem );
    display: grid;
    place-items: center;
    border-radius: 8px;
}
.rolesBox div svg{
    fill: white;
    width: 24px;
    height: 24px;
}
.bottomName{
    padding-top: 30px;
    position: relative;
}
.bottomName span{
    font-family: "Tektur";
    font-size: 8rem;
    font-weight: 800;
    position: sticky;
    bottom: 0;
    line-height: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.bottomName .b{
    color: gray;
}

.bottomName .b{
    color: #383838;
}

.bottomName .c{
    color: #171717;
}


@media screen and (max-width: 450px){
    :root{
        font-size: 12px;
    }
    .intro h1 {
        font-size: 2.5rem;
    }
    section{
        margin: 0 1.5rem;
        max-width: calc( 100% - 3rem);
    }
    .techBox>div, .toolsBox>div {
        padding: 2rem 1.5rem;
    }
    .techBox>div svg, .toolsBox>div svg {
        width: 2rem;
    }
    .projectBox .iconsList svg {
        width: 16px;
    }
    .bottomName span{
        font-size: 7rem;
    }
    .rolesBox div{
        gap: 1rem;
    }
    .rolesBox div svg{
        width: 20px;
        height: 20px;
    }
    .rolesBox div h3{
        font-size: 1.75rem;
        padding: 0.5rem 1rem;
    }
    .intro .buttonBox a{
        font-size: 0.9rem;
    }
    .intro .buttonBox{
        gap: 0.75rem;
    }
    section h2{
        font-size: 1.75rem;
    }
    .timelineBox .line .dot{
        left: 3.5rem;
    }
    .timelineBox .connector{
        margin-left: 0.75rem;
    }
    .timelineBox .connector{
        margin-left: 0;
        width: 40px;
    }
    .timelineBox .card{
        width: 16rem;
        /* margin-left: 0.5rem; */
    }
    .timelineBox .card p{
        font-size: 1.25rem;
        font-weight: 500;
    }
    .timelineBox .top, .timelineBox .bottom{
        padding-right: 1.5rem;
    }
}
@media screen and (max-width: 330px) 
{
    :root{
        font-size: 10px;
    }
    .projectBox>a{
        padding: 1.25rem;
    }
    .rolesBox div svg {
        width: 16px;
        height: 16px;
    }
}